/* 주 컨텐즈 영역 */
/* 상세정보, 리뷰, Q&A 메뉴 있는 곳 */
#product_menu{
    background-color:white;
    border-bottom: 1px solid black;
    width: 100%;
    height: 60px;
    position:sticky; /*스크롤 했을 때 위에 남아있으라고*/
    top: 0;
}
#product_menu > ul {
    /* background-color: darkgrey; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 0px 30%; /*보니까 세로 가로더라*/
}
#product_menu li{
    /* background-color: burlywood; */
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: inherit;
    width:200px;
    font-size: 1.5rem;
}
#product_menu li:hover{
    background-color: var(--basic-gray-color);
}

.product_info{ /*상품 설명 전체(상세정보, 리뷰..)를 아우르는*/
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    max-width:1200px;
    margin:auto;
}
.product_detail{ /*상세정보*/
    text-align: center;
    padding: 30px;
    border-bottom: 3px solid black;
}
/* 상품 리뷰 */
.product_review{
    padding: 30px;
    border-bottom: 3px solid black;
}
#total_review{
    background-color: var(--basic-gray-color);
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.user_reviews{
    padding:8px 30px;
}
.product_qAa{
    padding: 30px;
}

/* 폭이 1620 아래가 될 때 */
@media screen and ( max-width: 1620px){ 
   #menuWrap.on{
       right:0;
       display: block;
       transition: right ease 0.3s;
    }
    #menubar_overlay.on{
        right: 0;
        display: block;
        transition: right ease 0.3s;
    }
   #nav_menuBtn{
       display: inline;
   }
   #nav_category > ul{
       display: none;
   }
   #product_menu.on{
       position: static;
   }
}