<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>이날 뭐입지</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href={% static 'Main/css/styles.css'%}>
</head>

<body>
  </div>

  <hr/>

  <h1>이날 뭐입지</h1>
  <h2></h2>
  
<h2> 오늘 뭐입지 </h2>
<a href ="/New">New</a>
<a href ="/Best">Best</a>
<a href ="/Top">Top</a>
<a href ="/Pants">Pants</a>
<a href ="/Codi">Codi</a>
<a href ="/Shoes_and_Bag">Shoes/Bag</a>



  <div class="main-container">
  {% block main-container%}
  {% endblock main-container%}
  </div>
</body>
</html>