{% extends './base.html' %}
{% load static %}

{% block date-block %}
    <div>  Aug, 2021 </div>
{% endblock date-block %}




{% block main-container %}
<div class="food">
      <img src="images/chicken.jpg" width="300px" height="200px"/>
      <div class="info">
        <h3>7월 신상 입고</h3>
        <P>소량 한정 판매예정</p>
        <a href="#">바로가기</a>
      </div>
    </div>
    
    <div class="food">
      <img src="images/sushi.jpg" width="300px" height="200px"/>
      <div class="info">
        <h3>이번달 판매량 1위</h3>
        <P>ㅁㅁㅁㅁㅁ</p>
        <a href="#">바로가기</a>
      </div>
    </div>
    
    <div class="food">
      <img src="images/burger.jpg" width="300px" height="200px"/>
      <div class="info">
        <h3>Ex</h3>
        <P> ttttttt!</p>
        <a href="#">바로가기</a>
      </div>
    </div>
    
    <div class="food">
      <img src="images/bibimbap.jpg" width="300px" height="200px"/>
      <div class="info">
        <h3>aaaaaaa</h3>
        <P> kkkkkkkkkkk </p>
        <a href="#">바로가기</a>
      </div>
    </div>

    {% endblock main-container %}
