{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이날 뭐입지</title>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script> <!-- 아이콘 -->
    <!-- <script src="https://kit.fontawesome.com/f5e7b03b5b.js"></script> -->
    <script defer src={% static "Main/js/mainslide.js" %}></script><!-- js파일 -->
    <script defer src={% static "Main/js/mainclothData.js" %}></script>
    <script defer src={% static "Main/js/basicjs.js" %}></script>
    <link rel="stylesheet" href={% static "Main/css/mainstyle.css" %}> <!-- css파일 -->
    <link rel="stylesheet" href={% static "Main/css/basic_style.css" %}>
</head>

<body>
    <header>
        <nav id="userPage">
            <ul>
                {% if user.is_authenticated %}
                    <p>안녕하세요 {{user}}님!</p>
                    <a href="{% url 'account_logout' %}">로그아웃</a>
                {% else %}
                    <li><a href="{% url 'account_login' %}">로그인</a></li>
                    <li><a href="{% url 'account_signup' %}">회원가입</a></li>
                {% endif %}
                <li><a href="/ShoppingCart">장바구니<i class="fas fa-shopping-cart"></i></a></li>
                <li><a href="/Order">주문<i class="fas fa-truck"></i></a></li>
                <li><a href="/MyPage">마이페이지</a></li>
            </ul>
        </nav>
        
        <div id="head">
            <!-- 메인 로고 -->
            <h1 id="head__mainlogo"><a href="/Main">이날 뭐입지</a></h1>
            <!-- 옷 카테고리 -->
            <nav class="head__category">
                <ul>
                    <li><a href="/Best">BEST</a></li>
                    <li><a href="/New">NEW</a></li>
                    <li><a href="/Codi">Codi</a></li>
                    <li><a href ="/Top">Top</a></li>
                    <li><a href ="/Pants">Pants</a></li>
                    <li><a href ="/Shoes_and_Bag">Shoes/Bag</a></li>
                </ul>
                <span id="head__menuBtn"><i class="fas fa-bars"></i></span>
                <span id="head__searchBtn"><i class="fas fa-search"></i></span>
            </nav>

            <!-- 메뉴바 -->
            <div id="menubar_overlay"> 
                <nav id="menuWrap">
                    <span id="menubar__xBtn"><i class="fas fa-times"></i></span>
                    <ul>
                        <li><a href="/Login">로그인</a></li>
                        <li><a href="/Resistration">회원가입</a></li>
                        <li><a href="/ShoppingCart">장바구니<i class="fas fa-shopping-cart"></i></a></li>
                        <li><a href="/Order">주문<i class="fas fa-truck"></i></a></li>
                        <li><a href="/MyPage">마이페이지</a></li> 
                        <hr>
                        <li><a href="/Best">BEST</a></li>
                        <li><a href="/New">NEW</a></li>
                        <li><a href="/Codi">Codi</a></li>
                        <li><a href ="/Top">Top</a></li>
                        <li><a href ="/Pants">Pants</a></li>
                        <li><a href ="/Shoes_and_Bag">Shoes/Bag</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="content">
        <!--메인 베너 이미지-->
        <section id="mainbenu">
            <div id="mainbenu__overlay"> <!--오버레이. 이 오버레이의 크기만큼만 보임.-->
                <div class="mainbenu__imgList"> <!--이미지 리스트-->
                    <span id="tempBack" class="mainbenu__tempImg"></span>
                    <img class="mainbenu__img" src={% static "Main/img/mainbenu1.jpg" %}> <!-- 메인 베너 이미지 -->
                    <img class="mainbenu__img" src={% static "Main/img/mainbenu2.jpg" %}> <!-- 메인 베너 이미지 -->
                    <img class="mainbenu__img" src={% static "Main/img/mainbenu3.jpg" %}> <!-- 메인 베너 이미지 -->
                    <span id="tempFront" class="mainbenu__tempImg"></span>
                </div>

                <div class="mainbenu__directionKeys">
                    <span id="back" class="mainbenu__direc" onclick="nextSlide(-1)"><i class="fas fa-chevron-left"></i></span>
                    <span id="front" class="mainbenu__direc" onclick="nextSlide(1)"><i class="fas fa-chevron-right"></i></span>
                </div>
                <div class="mainbenu__dotList">
                    <span id=1 class="mainbenu__dot" ></span>
                    <span id=2 class="mainbenu__dot"></span>
                    <span id=3 class="mainbenu__dot"></span>
                </div>
            </div>
        </section>

        <!-- 메인 컨텐트 영역 -->
        <section class="bestContent">
            <!-- 위클리 베스트 -->
            <article class="bestProduct">
                <h3 class="bestProduct__subtitle">#WEEKLY BEST</h3>
                <div id="bestProduct__weekly" class="bestProduct__bundle">
                    <!-- <div class="bestProduct__cloth" >
                        <a href="../product/product-detail.html">
                            <img class = "clothesImg" src="..\img\clothes1.jpg">
                            <div>썸머 쿨 아리랑</div>
                            <div>15000</div>
                        </a>
                    </div> -->
                </div>
                <a><span class="bestProduct__viewAll"><i class="fas fa-chevron-right"></i> 전체보기</span></a>
            </article>
            
            <!-- 먼슬리 베스트 -->
            <article class="bestProduct">
                <h3 class="bestProduct__subtitle">#MONTHLY BEST</h3>
                <div id="bestProduct__monthly" class="bestProduct__bundle">
                    <!-- <div class="bestProduct__cloth">
                        <a href="../product/product-detail.html">
                            <img class = "clothesImg" src="..\img\clothes1.jpg">
                            <div>썸머 쿨 아리랑</div>
                            <div>15000</div>
                        </a>
                    </div> -->
                </div>
                <a><span class="bestProduct__viewAll"><i class="fas fa-chevron-right"></i> 전체보기</span></a>
            </article>
        </section>
    </main>

    <footer>
        <div>
            <p>(20219)서울특별시 아치구 너머로 128-7</p>
            <p>대표번호 : 032-658-4455 이메일 : enalCloth@naver.com</p>
            <p>Copyright 2001 Enal All rights Reserved.</p>
        </div>
    </footer>
</body>
</html>