.pagebox{
    padding: 60px;
    padding-left: 200px;
    padding-right: 200px;
    border-style: none;
    margin-bottom: 80px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

table{
    border-color: white;
    border-spacing: 8px;
    line-height: 120%;
    table-layout: fixed;
}

th{
    width: 30%;
    height: auto;
    text-align: left;
    font-size: small;
}

td{
    width: 100%;
    height: auto;
    font-size: smaller;
}

.buttons{
    text-align: right;
}

.productImg{ /*상품 대표 이미지*/
    width:430px;
    height: 600px;
    float: left;
}

.clothesImg{ /*옷 이미지*/
    width: 100%;
}